<% md_renderer %>

<div class="default-theme">
	<%= theme_render_partial '_navigation' %>

	<div class="container">
		<h1><%= @post.title %></h1>
		<%= @md.render(@post.content).html_safe %>
		<p>By: <%= @post.user.name %> | <%= pluralize(@post.views.count, "View") %></p>
	</div>

</div>