<%= render 'header' %>

<div class="container-fluid page">
	<div class="row">
		<%= render partial: 'sidebar', locals: { active: 'settings' } %>
		<div class="col-sm-10">
			<div class="content">
				<%= form_for @data, url: data_save_url, method: :patch do |form| %>
					<%= hidden_field_tag 'redirect_to', request.env['PATH_INFO'] %>

					<%= form.fields_for :children do |child, c| %>
						<div class="form-group">
							<%= data_to_form_label child %>
							<%= data_to_form_field child %>
						</div>
					<% end %>

					<%= form.submit "Save", class: 'btn btn-success' %>
				<% end %>
			</div>
		</div>
	</div>
</div>
