<%= render 'header' %>

<div class="container-fluid page">
	<div class="row">
		<%= render partial: 'sidebar', locals: { active: 'users' } %>
		<div class="col-sm-10">
			<div class="content">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Joined</th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |user| %>
							<tr>
								<td><%= user.name %></td>
								<td><%= user.email %></td>
								<td><%= user.created_at %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
